.banner {
  background-image: url("https://images.unsplash.com/photo-1516545595035-b494dd0161e4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80");
  margin: 0;
  background-size: cover;
  padding: 180px 0;
  background-position: 0 -187px;
  height: 330px;
}

.banner .container {
  color: white;
  margin: auto;
  width: 900px;
}

.banner .container h1 {
  font-family: 'Noto Sans JP', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  margin-bottom: 0;
}


.banner .container p, a {
  font-family: 'Lora', serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 4px;
}

.btn-primary {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  background: #f8000f;
  color: white;
  font-weight: lighter;
  padding: 13px 16px;
  border-radius: 16px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  opacity: .7;
}

